<!DOCTYPE html>

<!-- custom includes -->
<link rel="stylesheet" type="text/css" href="../style/my-style.css">

<html>
<body class="body">
	<div class="header">
			<span>St. Olaf Security Training</span>
	</div>
	
	<div class="content">
		<div id="leftHalf">
			<div id="infoContainer">
				<p>This is a web application by Stone Security, a St. Olaf Capstone project by senior Computer Science majors; Samir Bekhechi '17, Jack Hamby '17, and John Stone '17.  The application is intended to provide students with knowledge of current cyber security issues as well as methods to create safer code to prevent malicious activity.  Available only around St. Olaf campus the app does not put any college systems at risk and is solely for the purpose of education.  We are not responsible for any misuse or unwanted distribution of this application.</p>
			</div>
		</div>	
		<div id="rightHalf">
			<div id="moduleContainer">
				<span>Training Modules</span>
				<br><br>
				<a href="/SQL_tutorial"><button style="background-color: #4C90FF; font-size: 150%;">SQL Injection</button></a>
				<a href="/Password_tutorial"><button style="background-color: #1ECE18; font-size: 150%;">Password Cracking</button></a>
			</div>
		</div>	
	</div>
    
    
</body>
</html>

