<!DOCTYPE html>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- Angularjs CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>


 <!-- custom includes -->
<script src="../js/custom-js.js"></script>
<script src="../js/indexController.js"></script>
<script src="../js/tutorialController.js"></script>
<script src="../js/passwordController.js"></script>
<link rel="stylesheet" type="text/css" href="../style/custom-style.css">

<script>
   $('[data-toggle=offcanvas]').click(function() {
      $('.row-offcanvas').toggleClass('active');
      $('.collapse').toggleClass('in').toggleClass('hidden-xs').toggleClass('visible-xs');      

   });
</script>

<html>
<body ng-app="stone_security" ng-controller="passwordController">
    <div class='tutorial-header'>
    </div>
    <div class='tutorial-left-bar' style="background: #1ECE18;">
        <div class='left-bar-header'>


        Password Cracking


        </div>
        <div class='left-bar-image'>

             <img src="images/db.png" style="height:100px;width:100px;">

        </div>
        <div class='left-bar-data-container'>


            <!-- if user hasn't started session -->
            <div ng-if="!started" style="margin-left: 20px;">
                <button ng-click="startSession()">Start Session!</button>
            </div>





            <!-- if user has started session -->
                <div class="panel-group" id="accordion" ng-if="started">

                    <!-- Tab 1: What is a Password? -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" ng-click="clearWindow()">
                                    What is a Password?</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                A password is any string of characters used to authenticate someone's identity. <br><br>
                                <b>Password Strength:</b> The strength of a password depends on factors like the length and word choice (i.e. If a word in the dictionary is used for the password).<br><br>
                                <b>Current Systems:</b> Most systems now are safe due to added measures of security including: limits on password attempts, two-factor identification, and if-failure security questions. <br><br>
                                <b>Poor passwords:</b> Aspects of weak password choices include: small number of characters, use of real words, and using names or dates relating to a person's life.<br>
                            </div>
                        </div>
                    </div>



                    <!-- Tab 2: Types of Attacks -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" ng-click="clearWindow()">
                                    Types of Attacks</a>
                                </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <button ng-click="setBFInfo()">Brute Force</button>
                                <div ng-if="bfinfo"><br>
                                    - A brute force attack primarily consists of configuring predetermined values, making requests to a server using those values, and then checking the response.<br><br>
                                    
                                    - These attacks are usually sent via GET and POST requests.<br><br>
                                    
                                    - This works by taking a word list of known pages and simply requesting each known page then analyzing the HTTP response to determine if the page exists on the target server.<br>
                                </div>
                                <br><br>
                                <button ng-click="setDictInfo()">Dictionary Attack</button>
                                <div ng-if="dictinfo"><br>
                                    - A dictionary attack is a method of breaking into a password-protected computer or server by systematically entering every word in a dictionary.<br><br>
                                    
                                    - A simple form of dictionary attack is used by email spammers, who simply send a message to email addresses consisting of names (using a dictionary) followed by the '@' symbol and the name of a domain.
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Tab 3: How They're Done -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" ng-click="clearWindow()">
                                    How They're Done</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                - For an example of Brute force cracking, take the user "Joe". His email is joe@gmail.com and his password is simply the two letters 'pa'<br><br>
                                
                                - By simply entering his email in a premade brute force cracker it takes a mere 15-20 seconds to crack his email and successfully log into his account.<br><br>
                                <b>Try it out:</b>  Click for Brute Force Vulnerable Attack
                                <button ng-click="setPasswordForm()">Next </button><br>
                            </div>
                        </div>
                    </div>



                    <!-- Tab 4: Prevention -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" ng-click="clearWindow()">
                                    Prevention</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">	
                                <b>Random Combinations:</b> Password attack prevention has become very secure in recent years.  Some systems employ the use of random combinations of letters, both upper and lower case, as well as numbers and symbols. With these combination methods it becomes a very hard and tedious process to crack passwords.<br><br>
                            
                                <b>Attempt Limits:</b> This method of attack prevention is one of the most successful, reducing the possibility of brute force or dictionary attacks being successful by a great deal.  By limiting the attempts allowed to enter a password in a given amount of time, the ability of a brute force attack is completely stopped.<br><br>
                            
                                <b>Captcha:</b> This is a system which distinguishes humans from machines by requiring entering distorted letters and / or characters presented on the screen which are unreadable by a machine.
				<button ng-click="setCaptchaExample()">Next</button>
                                <div ng-if="captchaexample">
                                </div>
				
				<br><br>
                            
                                <b>Character Requirement:</b> Requiring the user to create a password with more than 8 characters greatly increacses the safety of an account.  This is because the amount of time to check a dictionary increases exponentially as you add more characters to a password, rendering brute force and dictionary attacks virtually useless.				
				<button ng-click="setBFExample()">Next</button>
                                <div ng-if="bfexample">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    
        <!-- everything that shows up in the right pane -->
        <div class="right-data-container">

            <!-- Tab 3: Password Submission form -->
            <div ng-if="passwordform">
                <div class="right-data-container-header">
                    <form>
                        <h1>Password Cracking Brute force example</h1>
                            <input type="text" ng-model="formData.email" placeholder="Email" required="" auto-focus=""> <br>
                            <input type="text" ng-model="formData.password" placeholder="Password" required=""><br>
                            <div style="float:left; width:400px; height: 80px;">
                                <button type="submit" class="btn btn-primary" ng-click="sub()">Submit </button>
                                    <p ng-if="logStatus=='Success'" style="color:green; float:right;">{{logStatus}}</p>
                                    <p ng-if="logStatus=='Failed'" style="color:red; float: right;">{{logStatus}}</p>
                            </div>
                    </form>
                </div>
            </div>


            <!-- Tab 3: Password Cracking Form -->
            <div ng-if="passwordcrack">
                <div class="right-data-container-header">
                    <form><br>
                        <h1>Brute Force Password</h1>
                            <input type="text" ng-model="form2Data.email" placeholder="Email" required="" auto-focus=""> <br>
                    <div style="float:left; width:400px; height: 80px;">
                        <button type="submit" class="btn btn-primary" ng-click="crackPassword()">Run Cracker</button>
                            <p ng-if="running">Cracker Running...</p>
                            <p ng-if="cracked">Password for {{form2Data.email}}: {{crackedPass}}</p>
                    </div>
                    </form>
                </div>
            </div>

            <div ng-if="passwordcrack">                                        
                <div class = "right-data-container-header">                                                
                    <div style="right: 0px; top: 0px; padding-top: 5%; position: absolute; padding-right: 5%;">
                        <h1>Emails</h1> <p ng-repeat="item in tableData">{{item.email}}</p>
                    </div>  
                </div>  
            </div>


            <!-- dictattack.png and captcha.gif-->
            <div ng-if="captchaexample">
                <div class="right-data-container-image">
                    <img src ="images/recaptcha.png" style="width 500px; height: 400px; padding-botton: 100px;">
                </div>
            </div>
		<br><br><br><br><br>
	    <div ng-if="bfexample">
                <div class="right-data-container-image">
                    <img src ="images/bruteforce.png" style="width 1000px; height: 500px;">
                </div>
            </div>
	</div>

</body>
</html>

